:root {
  --primary-color: rgb(100, 54, 54);
  --vermelha: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--preta);
  font-family: 'Roboto', sans-serif;
  /* font-family: "Times New Roman", Times, serif; */
  color: white;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--vermelha);
  font-family: "Arial Black", Times;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

.cartaz {
  /* background: linear-gradient(90deg, rgba(2,0,36,0.8575805322128851) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.43461134453781514) 100%, rgba(9,9,121,0.40940126050420167) 100%, rgba(0,212,255,1) 100%),url("../img/lokiinfo.jpg"); */
  background: linear-gradient(90deg, rgba(229,9,20,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5270483193277311) 100%),url("../img/lokiinfo.jpg");/* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%), */
  font-size: 16px;
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cartaz button{
  margin-left: 5%;
}

.cartaz .description {
  margin-bottom: 40px;
}

.cartaz p{
  margin-top: 15px;
  margin-left: 5%;
  text-align: justify;
  text-justify: inter-word;
}

.title {
  margin-left: 5%;
  margin-top: 5%;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  border:none;
  color:white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 15px;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 5px;
}

.button:hover{
  background-color: white;
  color: black;
}

.red:hover{
  background-color: var(--vermelha);
  color: white;
}

.button i{
  margin-right: 10px;
  font-size: 1.5em;
  vertical-align: middle
}

/* wrapper = envelopar */

.cartaz .container {
  width: 70%;
}

h3 {
  font-size: 1.9em;
  margin: 15px 17px 10px 30px ;
}

.box{
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
}

/* .carousel{
  margin-top:5px;
} */

/* .item:hover, img:hover{
  transition: 1s;
  transform: scale(1.1);

} */


.item {
  position: relative;
}

.item i {
  position: absolute;
  top: 45%;  
  left: 45%;
  transform: translate(-45%, -45%);
  display: none;
}


.item .namesmovies {
  position: absolute;
  top: 65%;  
  left: 45%;
  transform: translate(-45%, -45%);
  display: none;
}

.item:hover img {
  opacity: 0.6;
  transition: 1s;
  /* transform: scale(1.1); */
}

/* .item:hover i {
  display: block;
  z-index: 500;
  transition: .5s ease;
  transform: scale(5);
} */

.item:hover .namesmovies {
  display: block;
  z-index: 500;
  /* transition: .5s ease; */
}

.item:hover i {
  display: block;
  z-index: 500;
  transform: scale(5);
  /* transition: .5s ease;   */
}

footer i {
  transform: scale(3);
  color: var(--vermelha);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div {
  margin: 50px 30px 50px 30px;
  width: 100px;
  height: 100px;
}

#series img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}