@media only screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    margin-top: 100px;
  }

  .button {
    margin-top: 5px;
    width: 300px;
  }

  .item:hover i {
    transform: scale(4);
  }

  .item .namesmovies {
    top: 55%;
  }
}

@media only screen and (min-width: 1000px) {
  .description {
    width: 50%;
  }
}
